* { box-sizing: border-box; }
body { background-color:#F0E4E4; 
	background_image: url(background.gif);
	color:#824C97; 
	font-family: Arial, Verdana, sans-serif; }
#wrapper { background-color: #9765C8;
	   width: 80%;
	   margin-left: auto; 
           margin-right: auto; 
	   box-shadow: 5px 5px 5px #824C97;
           width: 80%; }
header { background-color:#099A97; 
	height: 150px;
	background-image: url(mologo.jpg);
	background-repeat: no-repeat; }
h1 {line-height: 200%;
	margin: 0;
	padding: 10px;
	font-size: 3em; }
nav { float: left;
	width: 200px;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding: 10px; }
main { margin-left: 200px; 
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	background-color: #F0E4E4; }
nav a {text-decoration: none; } 
nav a:link { color: #099A97; }
nav a:visited { color: #15CDA9; }
nav a:hover { color: #007064; }
nav ul { list-style-type: none; 
	padding-left: 0; }
footer { background-color: #099A97;
	font-size: .60em;
	font-style: italic;
	text-align: center;
	padding-bottom: 10px;
	border: 2px solid #007064;
	clear: both; }
h2 {	padding-left: 3em;
	padding-right: 2em; }
h3 {	padding-left: 3em;
	padding-right: 2em; }
h4 {   background-color: #099A97;
	font-size: 1.2em;
	padding-left: 10px;
	padding-bottom: 0;
	text-transform: uppercase;
	border-bottome: 1px solid #007064;
	clear: left; }
p {	padding-left: 3em;
	padding-right: 2em; }
div {	padding-left: 3em;
	padding-right: 2em; }
ul {	padding-left: 3em;
	padding-right: 2em; }
dl {	padding-left: 3em;
	padding-right: 2em; }
img {	padding-left: 10px;
	padding-right: 10px; } 
		height: 250px; }
.details { padding-left: 20%;
	   padding-right: 20%; 
		overflow: auto; }
.floatleft { float: left;
		padding-right: 20px;
		padding-bottom: 20px; }
header, nav, main, footer { display: block; }	   